@CHARSET "UTF-8";

.header {
	height: 150;
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}
.header-img {
	margin-right: 10px;
}
p.title {
	color: #FA6900;
	font-size: 24px;
}

.welcome {
	font-size: 20px;
	color:#FA6900;
}


span.username {
	color: #69D2E7;
	font-weight: bold;
}
span.message {
	font-size: 18px;
	color: black;
}